<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.dictate.create}">title</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <h4 style="text-align:center" class="m-1" th:text="#{page.dictate.create}">title </h4>
    </div>
    <br>

    <div class="container">
        <div id="dictate" style="margin-top: 50px;" class="mainbox .col-md-6 ">
            <form class="form-horizontal" th:action="@{/dictate/create}" th:object="${dictate}" method="POST" enctype="utf8">
                <fieldset>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{page.dictate.create.name}">name</span>
                        </div>
                            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Name">
                        <div class="col-sm-3">
                            <small id="name-error" class="text-danger" th:each="error: ${#fields.errors('name')}" th:text="${error}">
                                Validation error
                            </small>
                        </div>
                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-list"></i></span>
                        </div>
                        <select class="form-control selectpicker" id="language" th:field="*{language}">
                            <option value="" selected="selected" th:text="#{page.dictate.create.language}">lan</option>
                            <option th:each="language : ${languages}"
                                    th:value="${language.getCode()}"
                                    th:text="${language.getName()}"></option>
                        </select>
                        <div class="col-sm-3">
                            <small id="language-error" class="text-danger" th:each="error: ${#fields.errors('language')}" th:text="${error}">
                                Validation error
                            </small>
                        </div>
                    </div>

                    <br>
                    <div class="input-group mb-3">
                        <input type="hidden" id="audioUrl-input" th:field="*{audioUrl}">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="recorder"><i class="fas fa-microphone"></i></button></div>
                            <button class="btn btn-outline-danger" th:type="button" id="stop"><i class="fas fa-square"></i></button>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="audio-upload" name="uploadedFile" accept="audio/*">
                            <label class="custom-file-label"  th:text="#{page.dictate.create.audio}">audio</label>
                        </div>

                        <div class="col-sm-3">
                            <small hidden id="error-div" class="text-danger">
                            </small>
                            <small hidden id="info-div" class="text-success">
                            </small>
                        </div>

                    </div>


                    <br>
                    <button class="btn btn-outline-secondary" type="button" id="speech-to-text" th:text="#{page.dictate.transcribe}">transcribe</button>
                    <br>
                    <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{page.dictate.create.text}">text</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="text"  rows="10" cols="100" th:field="*{text}"></textarea>

                        <div class="col-sm-3">
                            <small id="text-error" class="text-danger" th:each="error: ${#fields.errors('text')}" th:text="${error}">
                                Validation error
                            </small>
                        </div>
                    </div>


                    <br>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success" type="submit" th:text="#{submit}">submit</button>
                            <a class="btn btn-warning" th:href="@{/dictate/my}" th:text="#{back}">back</a>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/dictateAudio.js"></script>
</div>
</body>
</html>