<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.corrections.create}">title</title>
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <h4 style="text-align:center" class="m-1" th:text="#{page.corrections.recorrect}">title </h4>
    </div>
    <br>

    <div class="container">
        <div id="correction" style="margin-top: 50px;" class="mainbox .col-md-6 ">
            <form id="form" class="form-horizontal" th:action="@{/corrections/edit}" th:object="${correction}" method="POST" enctype="utf8">
                <fieldset>
                    <input type="hidden" id="id" th:field="*{id}">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{page.corrections.create.name}">name</span>
                        </div>
                        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="name" readonly>
                    </div>

                    <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-eye"></i></span>
                        </div>
                        <select class="form-control selectpicker" id="usedOCRMethod" th:field="*{usedOCRMethod}">
                            <option value="" selected="selected" th:text="#{page.corrections.create.ocr}" >ocr</option>
                            <option th:each="method : ${OCRMethods}"
                                    th:value="${method}"
                                    th:text="${method}"></option>
                        </select>
                        <div class="col-sm-3">
                            <small id="usedOCRMethod-error" class="text-danger" th:each="error: ${#fields.errors('usedOCRMethod')}" th:text="${error}">
                                Validation error
                            </small>
                        </div>
                    </div>

                    <br>
                    <input type="hidden" id="dictateId" th:field="*{dictateId}">

                    <input type="hidden" id="originalImageUrl-input" th:field="*{urlOriginalImage}">
                    <div class="input-group mb-3">
                        <img id="originalImg" th:src="*{urlOriginalImage}" alt="original" class="img-thumbnail" height="200" width="200">
                        <div id="originalModal" class="modal">

                            <span id="originalClose" class="close">&times;</span>

                            <span id="originalDownload" class="download" th:value="${correction.getUrlOriginalImage()}"><i class="fa fa-download"></i></span>

                            <img class="modal-content" id="img01">
                        </div>
                    </div>


                    <br>

                    <div class="input-group mb-3">
                        <h5 hidden id="wait-div" class="text-info">
                        </h5>
                    </div>
                    <br>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success" id="submit-btn" type="submit" th:text="#{submit}">submit</button>
                            <button class="btn btn-warning" id="back-btn" th:href="@{/corrections/my}" th:text="#{back}">back</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/correctionEditUtils.js"></script>
</div>
</body>
</html>