<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.error.title}">title</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4">
                <h3 class="m-1" th:text="${message}">error</h3><br>
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary" style="text-align:center" th:href="@{/}" th:inline="text">
                    <i class="fa fa-home"></i>[[#{page.error.button}]]</a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
</body>
</html>