<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.forgotPassword.title}"></title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div th:fragment="content">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card rounded-0">
                                <div class="card-header">
                                    <h3 class="mb-0" th:text="#{page.forgotPassword.message}">forogt</h3>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="email" th:text="#{page.register.email}">email</label>
                                            <input type="email" name="email" id="email" placeholder="email" class="form-control">
                                        </div>

                                        <button type="submit" class="btn btn-success" th:text="#{page.forgotPassword.label}">reset</button>
                                        <br> <br> <a class="btn btn-primary" th:href="@{/login}" th:text="#{page.login.label}">login</a>
                                    </form>
                                </div>
                            </div>
                            <script type="text/javascript" src="/js/resetPassword.js"></script>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>