<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.home.title}">title</title>
</head>
<body>
    <div layout:fragment="page_content" id="page_content">
        <div class="container">
            <br>
            <div class="alert alert-info" th:if="${param.message != null}" th:text="${param.message}">
                alert
            </div>
            <br>

            <h2 class="m-1" th:text="#{page.title}">title </h2>
        </div>
    </div>
</body>
</html>