<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/font-awesome.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <title th:text="#{page.resetPassword.title}"></title>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" th:text="#{page.title}">title</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
        </div>
    </div>
</nav>

<div id="page_content">
    <div class="container">
        <div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
            <h3 th:text="#{page.resetPassword.message}">reset</h3>
            <form class="form" method="POST">
                <label th:text="#{page.register.password}">password</label>
                <input id="password" name="newPassword" type="password" value="" class="form-control"/>
                <br>
                <label th:text="#{page.register.confirmPassword}">confirm</label>
                <input id="matchPassword" type="password" value="" class="form-control"/>

                <div id="globalError" style="display:none" class="text-danger" th:text="#{page.resetPassword.match}">error</div>
                <br>
                <button class="btn btn-success" type="submit" onclick="savePass(event)" th:text="#{page.resetPassword.update}">submit</button>
            </form>


        </div>
        <script type="text/javascript" src="/js/updatePassword.js"></script>
    </div>
</div>
</body>
</html>