<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h2>Welcome to test web app</h2>
    <a href="/upload">Upload image</a>
    <br><br>
    <h4>To get best result upload images that have:</h4>
    <ul>
      <li>Good contrast (try to use black ink on white paper or manually adjust contrast in some editor)</li>
      <li>Good resolution (300 dpi is considered good)</li>
      <li>Vertical orientation (portrait mode) and are not rotated, words are inline</li>
    </ul>
    <br><br>

  </body>
</html>