<!DOCTYPE html>
<html>
 <head>
   <title>Upload Image</title>
 </head>
 <body>

   {% if msg %}
   <h1>{{ msg }}</h1>
   {% endif %}
  
   <h2>Upload new File</h1>
  
   <form method=post enctype=multipart/form-data>
     <p><input type=file name=file></p>
      <input type=submit value=Upload>
   </form>

   <h2>Result:</h1>
  
    {% if extracted_text_custom or extracted_text_vision_api%}
      <p> The extracted text (custom OCR) from the image above is: <b> {{ extracted_text_custom }} </b></p>
      <p> The extracted text (Vision API) from the image above is: <b> {{ extracted_text_vision_api }} </b></p>
    {% else %}
      The extracted text will be displayed here
   {% endif %}
 </body>
</html>